<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Variable Expression</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Variable Expressions</title>
</head>
<body>
    <h1>Variable Expression Demo:</h1>
    <p>Name: <strong th:text="${user.name}"></strong></p>
    <p>Email: <strong th:text="${user.email}"></strong></p>
    <p>Role: <strong th:text="${user.role}"></strong></p>
    <p>Gender: <strong th:text="${user.gender}"></strong></p>
</body>
</html>